ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-right: 20px;
    background-color: rgb(163, 157, 157);
    font-size: 20px;

}
.active{
    background-color: rgb(206, 148, 148);
}