.user-container {
  background-color: rgb(234, 149, 154);
  padding: 25px;
  color: rgb(29, 22, 22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
  margin: 1rem;

}

#user-img {
  height: 180px;
  border-radius: 100%;
  

}
