/* Form container (optional) */
form {
  max-width: 220px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fafafa;
}

/* Label style */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}
/* Normal input */
input {
  padding: 8px 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}



/* Error input */
.inout-erroe {
  border-color: red;
  background-color: #fff5f5;
}
.inout-erroe2 {
  border-color: rgb(221, 255, 0);
  background-color: #fff5f5;
}
/* Error message */
.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  font-weight: 500;
}



/* Submit button */
input[type="submit"] {
  background: #4a90e2;
  color: white;
  border: none;
  padding: 10px;
  width: 50%;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
  
}

input[type="submit"]:hover {
  background: #357abd;
}
