body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
}

div {
  text-align: center;
  align-items: center;
  margin-top: 200px;
}
p {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

div > button {
  padding: 12px 22px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.3s ease;
}
/* Increment button */
div > button:first-child {
  background-color: #4caf50;
  color: white;
}

div > button:first-child:hover {
  background-color: #c3730a;
}

/* Reset button */
div > button:last-child {
  background-color: #f44336;
  color: white;
}

div > button:last-child:hover {
  background-color: #16dede;
}
