
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2a2a2b, #52b5be);
}

/* Main container */
div {
  background: transparent linear-gradient(135deg, #2a2a2b, #52b5be);;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;
 
}

button {
  background: #667eea;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}


button:hover {
  background: #5a67d8;
  transform: scale(1.05);
}

/* Count text */
div > div {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #1c1d2b;
}
